<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Contrato | Empresa</title>

    <style>
        h1 {text-align: center;
            color: #007bff;
        
        }

        .row{
            height: 20cm;
        }

        .coluna{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand h1 mb-0" href="Empresa">Empresa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsite">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsite">
          <ul class="navbar-nav" mr-auto>
            <a class="nav-item nav-link active" href="inicio">Inicio</a>
            <a class="nav-item nav-link active" href="curso">Cursos</a>
            <a class="nav-item nav-link active" href="sobre">Sobre</a>
            <a class="nav-item nav-link active" href="Contato">Contato</a> 
          </ul>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;	
          &nbsp;
          &nbsp;	
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;	
          &nbsp;
          &nbsp;	
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;	
          &nbsp;
          &nbsp;	
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;	
          &nbsp;
          &nbsp;	
          &nbsp;
          &nbsp;
          &nbsp;
          <ul class="navbar-nav" ml-auto>
            <a href="Curso" class="btn btn-primary btn-sm border border-white" role="button" aria-pressed="true">Fazer Login</a> 
          </ul>
        </div>
      </div>
  </nav>
<h1>Fale Conosco</h1>
    <div class="container">
          
      <div class="row">  <!-- linha-->
          <div class="col  coluna">
              <img src="/static/image/html5_css3.png" alt="logo da Empresa" height="200 pixels">
          </div>
          <div class="col  coluna"> 
              <form  class="text-center">
                  <h2 class="h3">Seus dados</h2>
                  <label for="Id_nome"></label>
                    <input class="form-control" type="name" id="Id_nome" placeholder="Nome*" required autofocus name="Nome"> 
                  <label for="Id_sobrenome"></label>
                    <input class="form-control" type="name" id="Id_sobrenome" placeholder="Sobrenome*" required name="Sobrenome">
                  <label for="ID_email"></label>
                    <input class="form-control" type="email" id="ID_email" placeholder="Email*" required name="Email">
                  <label for="ID_Assunto"></label>
                    <input class="form-control" type="text" id="ID_Assunto" placeholder="Assunto*" required name="Assunto">
                <label for="ID_Mensagem"></label>
                    <!-- <input class="form-control" type="text" id="ID_Mensagem" placeholder="Mensagem*" required name="Mensagem"> -->
                    <textarea class="form-control" id="ID_Mensagem" rows="3" placeholder="Mensagem*"></textarea>
                  <br>
                  <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
          </div>

      </div>

    </div>
  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>