<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Sobre a Empresa</title>
    <style>

        h1 {
            text-align: center;
        }
        
        h6 {
            text-align: center;
        }

        .row{
            height: 20cm;
        }

        .coluna{
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
          <a class="navbar-brand h1 mb-0" href="Empresa">Empresa</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsite">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsite">
            <ul class="navbar-nav" mr-auto>
              <a class="nav-item nav-link active" href="inicio">Inicio</a>
              <a class="nav-item nav-link active" href="curso">Cursos</a>
              <a class="nav-item nav-link active" href="sobre">Sobre</a>
              <a class="nav-item nav-link active" href="Contato">Contato</a> 
            </ul>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;	
            &nbsp;
            &nbsp;	
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;	
            &nbsp;
            &nbsp;	
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;	
            &nbsp;
            &nbsp;	
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;	
            &nbsp;
            &nbsp;	
            &nbsp;
            &nbsp;
            &nbsp;
            <ul class="navbar-nav" ml-auto>
              <a href="Curso" class="btn btn-primary btn-sm border border-white" role="button" aria-pressed="true">Fazer Login</a> 
            </ul>
          </div>
        </div>
    </nav>
        <h1>Falando sobre a Empresa</h1>
    <h6>Fundada em 1996, a Oficina Automotiva Rochester iniciou suas atividades atendendo carros que buscavam auxílio mecânico e auto elétrico. Seus proprietários Rochester e Cristina haviam acabado de se mudar para São Paulo de Fortaleza, a mudança foi no ano de 1994. Os proprietários já tiveram empresas de vários tipos em Fortaleza, como mercearia, churrascaria. Todas deram certo por um certo tempo e depois fecharam. Então os proprietários viram uma maior oportunidade de negócio em São Paulo, e foi quando decidiram mudar.
        A Oficina Rochester está hoje localizada na Avenida Cruzeiro do Sul 2051, Santana, São Paulo - SP, entre as estações de metrô Carandiru e Portuguesa - Tietê (linha azul). Funciona como oficina mecânica, auto elétrica, borracharia e auto peças. Os serviços executados em mecânica são: motor, câmbio, suspensão, embreagem, freios, limpeza de bicos e cabeçote. Os serviços executados de elétrica são: motor de arranque, alternador, vidro elétrico, trava elétrica, som e alarme. Os serviços executados em borracharia são: conserto, vulcanização e venda de pneus e câmara de ar.
    Alugam o espaço, que são 4 portas, cerca de 20 metros de extensão. Atualmente entregaram uma das portas, para reduzir o custo com aluguel, e remanejaram as peças dentro das outras três portas. Possuem hoje 3 funcionários informais. Atendem apenas carros, não atendem motos ou outro veículos automotores. 
    Seus principais fornecedores são: G&B Distribuidora, Furacão Distribuidora, Onny Distribuidora e Escadão distribuidora.
        Com o objetivo de auxiliar os proprietários a melhor organizar e manejar o negócio, o grupo JFM Tech Solutions resolveu criar um software no qual executará diversas funções automaticamente que, hoje, são feitas manualmente.
    </h6>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>